.notification-fade-enter {
    opacity: 0;
}

.notification-fade-enter-active {
    opacity: 1;
    transition: opacity 300ms;
}

.notification-fade-exit {
    opacity: 1;
}

.notification-fade-exit-active {
    opacity: 0;
    transition: opacity 300ms;
}

.hover-icon {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.hover-icon:hover {
    opacity: 1;
}
