.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.fc-day-sun a {
    color : red
}

.fc-day-sat a {
    color : blue
}

@media all and (max-width:767px) {
    html, body, #root, #root > div, .fc-theme-standard, .fc-daygrid-body, table[role="presentation"] {
        height: 100%;
    }

    table[role="presentation"] tbody tr:last-child:not(.fc-day) {
        display: none;
    }

    .fc .fc-daygrid-day-top {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .fc-header-toolbar {
        padding: 10px;
    }
}

